@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: montserrat;
}
.bg{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
}



/* figam link
https://www.figma.com/design/frVtKbDfeDmn3JSzQAP46Y/Travel-Landing-Page-XD---FIGMA-Version?node-id=0-1&p=f&t=Eyyrn6B4BoL01qzB-0
 */